/* Add CSS Styling */
.odd {
    background-color: #ffb6c1;
    font-family: 'Veranda', 'DejaVu Sans', sans-serif;  
}

#second {
    color: blue;
    font-size: 36px;
}

.size24 {
    font-size: 24px;
}

.fourth {
    background-color: #90ee90;
    font-weight: 700; 
}
