/* Add CSS Styling */
.both {
    font-size: 28px;
    font-family: 'Helvetiva', 'Times New Roman', sans-serif;
}

.first {
    background-color: rgb(0,0,0);
    color: white;
}

.second {
    background-color: #ffff00;
}